<div class="container">
  @if(callState().loading) {
  <p>Loading...</p>
  } @else if(callState().error !== null) {
  <p>Something went wrong</p>
  } @else {
  <div class="pokemon-container">
    @for (item of pokemon(); track item.id) {
    <div class="pokemon">
      <p class="pokemon-name">
        {{ item.name }}
      </p>
      <img
        class="pokemon-img"
        src="{{ item.sprites.other['official-artwork'].front_default }}"
        alt="{{ item.name }}"
      />
    </div>
    }
  </div>
  }

  <div class="paginator-container">
    <button [disabled]="pageInfo().previous === null" (click)="loadPrevious()">
      Load Previous
    </button>

    <button [disabled]="pageInfo().next === null" (click)="loadMore()">
      Load More
    </button>
  </div>
</div>
