.pokemon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon {
  display: flex;
  flex-direction: column;
}

.pokemon-img {
  width: 10rem;
  height: 10rem;
}

.paginator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
